@{
    ViewBag.Title = "Slice of Pie";
    ViewBag.Message = "Overview";
}
@section home {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}