<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SliceOfLifeEntities" connectionString="metadata=res://*/Persistence.Database.csdl|res://*/Persistence.Database.ssdl|res://*/Persistence.Database.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mileratec.com;user id=Dexter;database=SliceOfLife;password=DextersBoat12;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>