<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SliceOfLifeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.itu.dk;User Id=Dexter;password=Boat;database=SliceOfLife&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SliceOfLifeEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=Dexter;password=Boat;host=mysql.itu.dk;database=SliceOfLife;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>