<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SliceOfLifeEntities" connectionString="metadata=res://*/Persistence.Database.csdl|res://*/Persistence.Database.ssdl|res://*/Persistence.Database.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;C:\Users\Toke Jensen\Documents\Visual Studio 2010\Projects\SliceOfPie\bdsa\SliceOfPie_OnlineGUI\App_Data\aspnet-SliceOfPie_OnlineGUI-20121126153317.mdf&quot;;initial catalog=aspnet-SliceOfPie_OnlineGUI-20121126153317;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>