@{
    Layout = "~/Views/Shared/_Colorbox.cshtml";
}
<section class="viewer">
    <h2>History</h2>
    <h3>@ViewBag.Title</h3>
    <div class="content-wrapper">
        @Html.Raw(ViewBag.DocumentHistory)
    </div>
</section>
