@{
    ViewBag.Title = "Slice of Pie";
    ViewBag.Message = "Overview";
}
@section header {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section imports
{
    @Styles.Render("~/Content/Overview.css")
}
<section id="FileList">
    @Html.Raw(ViewBag.FileList)
</section>